// Base styles

body{
  font-family: $font-main;
}

.font-alt{
  font-family: $font-main;
}
.main-nav{
}

.nav-logo-wrap{
  img{
    width: 100%;
    height: auto;
  }
}

.btn{
  transition: all .3s ease-out;
}

.btn-mod, a.btn-mod{
  background-color: $secondary;
}

.alt-features-icon{
  width: 150px;
  height: 150px;
  background-image: linear-gradient(180deg,$primary 10%,$secondary 100%);
  color: #FFF;
  display: block;
  margin: 0 auto;
  border-radius: 90px;
  line-height: 150px;
  padding-top: 0;
  img{
    width: 80px;
  }
}

.team-item-image{
  border-radius: 20px;
}

.mobile-nav{
  font-size: 2rem;
  svg{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 100% !important;
    transition: .1s all ease-out;
  }
  .svg-inline--fa{
    height: 2em;
  }
  i{
    color: $secondary;
  }
}
.nav-logo-wrap {
  .logo{
    max-width: 180px;
    img{
      min-height: 30px;
    }
  }
}
.main-nav.stick-fixed.mobile-on.small-height {
  svg{
    margin-top: 15px !important;
  }
}

.inner-nav ul li a{
  font-weight: 700;
}

.main-nav.transparent{
  background-color: rgba(255,255,255,.5) !important;
}

.cont-btn-portal{
  background-color: #333;
  border-bottom: 1px solid $border-color;
  a{
    text-decoration: none;
    color: $light;
    &:hover{
      text-decoration: none;
      color: $primary;
    }
  }
}

.linksbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.ci-icon:before{
  background: $secondary;
  z-index: -10;
}
.svg-inline--fa.fa-w-10 {
  width: 1.625em;
}

.scroll-down-icon{
  color: $light;
  font-size: 2rem;
  svg{
    width: 30px;
  }
}

.white-popup-block{
  background: #FFF;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
  color: #111;
  border-color: rgba(102,51,153, .7);
  box-shadow: 0 0 3px rgba(21,21,21, .3);
}

.title-pop{
  font-weight: 300;
  color: $primary;
}

.btn-close{
  color: #9d9d9d !important;
  background-color: transparent;
  border: none;
  svg{
    fill: #9d9d9d !important;
    width: 20px !important;
    height: 20px !important;

  }
}

.svg-inline--fa.fa-w-12{
  width: .65em;
}

@include respond-below(sm){
  .svg-inline--fa.fa-w-10{
    width: 23px;
  }
  .svg-inline--fa.fa-w-12{
    width: 23px;
  }
  .logo-list{
    li{
      border-bottom: 1px solid #DDD;
      padding: 30px 15px;
      img{
        max-height: 60px;
      }
    }
  }
  .home-section{
    background-size: cover;
  }
  .player{
    display: none;
  }
}

.logo-list{
  list-style-type: none;
  padding-left: 0;
  li{
    text-align: center;
    &:last-child{
      border-bottom: none;
    }
    img{
      display: inline-block;
      max-height: 80px;
    }
  }
}

.team-item {
  .item-job{
    font-weight: 700;
    font-size: 1rem;
  }
}

.scroll-down{
  &:before{
    background: transparent;
  }
}
.mfp-arrow{
  display: none !important;
}

.form{
  position: relative;
}
.small-height{
  height: 75px !important;
}

.link-to-top{
  cursor: pointer;
}